*,
html{
    padding: 0;
    margin: 0;
}
.nav1 {
flex-wrap: wrap;
border-bottom: 2px solid rgb(231, 231, 231);
/* background-color: rgb(180, 127, 255); */
}

.nav1-left  {
    list-style-type: none;
    
}

.nav1-left li {
    float: left;
    display: flex;
    justify-content: left;
}

.nav1-left li a{
    display: block;
    padding: 21px;
    /* background-color: rgb(180, 127, 255); */
    text-decoration: none;
    color: black;
}

.nav1-right {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.nav1-right li {
    float: right;
}

.nav1-right li a {
    display: block;
    padding: 10px;
    /* background-color: rgb(180, 127, 255); */
    text-decoration: none;
    padding: 21px;
    color: black;
}

.nav2 {
    /* background-color: aqua; */
    display: flex;
}
.nav2-left{
    list-style-type: none;
}
.nav2-left li {
    float: left;
    /* background-color: rgb(114, 114, 114); */
}

.nav2-left li a{
    display: block;
    padding-left: 40px;
    padding-top: 30px;
    text-decoration: none;
    color: black 
}

.header {
    display: flex;
    /* background-color: rgb(136, 241, 38); */
    justify-content: center;
}

.header img{
    width: 90%;
    height: 90%;
    padding: 20px;
}

.content1{
    display: flex;
    justify-content: center;
}

.content1 p{
    padding: 200px;
    font-size: 30px;
    
}

.content1 p a{
    text-decoration: none;
    color: blue;
}

.content2-row {
    background-color: aquamarine;
    position: relative;
    display: flex;
}

.content2-background {
background-color: #FBFFA7!important;
width: 70%;
height: 45vmax;
margin-left: 30%;
position: absolute;
    top: 0;
    z-index: 0;

}

.content2-media1 {
/* background-color: black; */
padding-left: 100px;
position: absolute;
}
.content2-media1 img{
    width: 60%;
    height: 35vmax;
    padding-left: 10%;
    padding-top: 10%;
}
