*,
html{
    padding: 0;
    margin: 0;
}
.nav1 {
flex-wrap: wrap;
border-bottom: 2px solid rgb(231, 231, 231);
/* background-color: rgb(180, 127, 255); */
}

.nav1-left  {
    list-style-type: none;
    
}

.nav1-left li {
    float: left;
    display: flex;
    justify-content: left;
}

.nav1-left li a{
    display: block;
    padding: 21px;
    /* background-color: rgb(180, 127, 255); */
    text-decoration: none;
    color: black;
}

.nav1-right {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.nav1-right li {
    float: right;
}

.nav1-right li a {
    display: block;
    padding: 10px;
    /* background-color: rgb(180, 127, 255); */
    text-decoration: none;
    padding: 21px;
    color: black;
}

.nav2 {
    /* background-color: aqua; */
    display: flex;
    width: 100%;
}
.nav2-left{
    list-style-type: none;
}
.nav2-left li {
    float: left;
    /* background-color: rgb(114, 114, 114); */
}

.nav2-left li a{
    display: block;
    padding-left: 40px;
    padding-top: 30px;
    text-decoration: none;
    color: black 
}

.header {
    display: flex;
    /* background-color: rgb(136, 241, 38); */
    justify-content: center;
}

.header img{
    width: 90%;
    height: 90%;
    padding: 20px;
}

.content1{
    display: flex;
    justify-content: center;
}

.content1 p{
    padding: 200px;
    font-size: 30px;
    
}

.content1 p a{
    text-decoration: none;
    color: blue;
}

.content2 {
    /* background-color: rgb(44, 245, 22); */
    position: relative;
    display: flex;
    height: 46vmax;
}

.content2-background {
    background-color: #FBFFA7!important;
    width: 60%;
    height: 45vmax;
    margin-left: 40%;
    position: absolute;
    top: 0;
    z-index: 0;
}

.content2-media1 {
/* background-color: black; */
    padding-left: 10%;
    position: absolute;
}

.content2-media1 img{
    width: 70%;
    height: 35vmax;
    padding-left: 8%;
    padding-top: 10%;
}

.content2-media2 {
    padding-left: 40%;
    position: absolute;
}

.content2-media2 img{
    width: 70%;
    height: 15vmax;
    padding-left: 80%;
    padding-top: 55%;
}

.content3 {
    /* background-color: #a7ffc0; */
    display: flex;
    justify-content: center;
}

.content3 p{
    padding: 200px;
    font-size: 30px;
}

div.content4 {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    width: 100%;
}

.content4-video{
    /* background-color: rgb(114, 117, 117); */
    width: 70%;
}

.content5 {
    display: flex;
    justify-content: center;
}
.content5 p{
    padding: 200px;
    font-size: 30px;
}
.content6 {
    position: relative;
    display: flex;
    /* background-color: rgb(160, 79, 79); */
}

.content6-background {
    background-color: rgb(131, 245, 177);
    width: 70%;
    height: 100%;
    position: absolute;
}

.content6-left {
    /* background-color: blue; */
    width: 30vmax;
    position: relative;
    height: 24%;
    margin-left: 12vmax;

}
.content6-left img{
    padding-bottom: 20%;
    padding-top: 20%;
    /* background: #D5B3FF; */
}
.content6-right {
    position: relative;
    width: 40vmax;
    /* background-color: blueviolet; */
    margin-left: 10vmax;
    height: 23%;
    margin-bottom: 30px;
}

.content6-right img{
    width: 100%;
    margin-top: 7%;
    height: 100%;
}

.content7 {
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
}

.content7 p{
    padding: 200px;
    font-size: 30px;
}

.content8 {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
}

.content9{
    display: flex;
    justify-content: center;
}
.content9 p{
    padding: 200px;
    font-size: 30px;
}

.content10{
    /* background-color: rgb(165, 231, 209); */
    display: flex;
    width: 100%;
}
.content10-background {
    background-color:#D5B3FF;
    position: relative;
    height: 52vmax;
    width: 60%;
    margin-left: 20%;
    
}

.content10-left {
    /* background-color: #FBFFA7; */
    width: 32%;
    
    position: absolute;
    margin-left: 10vmax;
    margin-top: 17vmax;
}
.content10-left img{
    width: 100%;
    height: 22vmax;
}
.content10-right {
    /* background-color: #1edae4; */
    width: 40%;
    position: absolute;
    margin-left: 60%;
    margin-top: 8vmax;
}
.content10-right img{
    width: 100%;
    height: 38vmax;
}

.content11 {
    display: flex;
    justify-content: center;
}

.content11 p{
    padding: 200px;
    font-size: 30px;
}

.content12 {
    /* background-color: #FBFFA7; */
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    flex-wrap: wrap;
    
}
.content12-left {
    background-color: aqua;
    /* width: 35vmax; */
display: flex;
    flex : 0 450px;
    
}
.content12-left img {
    width: 100%;
    height: 100%;
}
.content12-right {
    background-color: #B1C5FF;
    display: flex;
    flex : 0 450px;
    justify-content: center;
    align-items: center;
    /* padding: 8%; */
}
.content12-right p{
    width: 70%;
    /* background-color: aquamarine; */
}
.content12-right p a{
    text-decoration: none;
}

.footer-border {
    border-top: 3px solid rgb(221, 218, 218);
}

.footer-bg{ 
    /* background-color: aquamarine; */
    height: 100%;
    display: flex;
    justify-content: center;
}

.footer-isi {
    /* background-color: #D5B3FF; */
    width: 80%;
    height: 100%;
}

.footer-logo {
    /* background-color: #FBFFA7; */
    width: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer-right {
    /* background-color: #FBFFA7; */
    float: right;
    width: 30%;
   
}

.footer-right input {
    width: 80%;
    box-sizing: border-box;
    padding: 8px 8px;
    margin-top: 20px;
    background-color: rgb(232, 232, 232);
    border: none;
}
.footer-right button {
    background-color: rgb(0, 75, 250);
    color: white;
    width: 15%;
    height: 35px;
    border: none;
}

.footer-center {
    /* background-color: aliceblue; */
    width: 40%;
    float: right;
}
.footer-center ul{
    list-style-type: none;
}

.footer-center ul li a{
    text-decoration: none;
    color: black;
}

.footer-center ul li a:hover{
    color: gray;
}

.footer-left {
    /* background-color: #B1C5FF; */
}
.footer-left ul {
    list-style-type: none;
}
.footer-left ul li a{
    text-decoration: none;
    color: black;
}
.footer-left ul li a:hover{
    color: grey;
}

.icon-fb {
    filter: invert(100%);
    border: 2px solid none;
    background-color: rgb(231, 242, 74);
}
.icon-twitter {
    filter: invert(100%);
    border: 2px solid none;
    background-color: rgb(191, 209, 22);
}

.icon-instagram {
    filter: invert(100%);
    border: 2px solid none;
    background-color: rgb(61, 100, 241);
}
.icon-youtube {
    filter: invert(100%);
    border: 2px solid none;
    background-color: rgb(0, 255, 251);
}

.footer-left2-row {
    /* background-color: antiquewhite; */
    padding-top: 8%;
    height: 8vmax;

}
.footer-left2 {
    /* background-color: antiquewhite; */
    float: left;
    width: 30%;
    height: 100%;
}

.footer-left2 ul {
    list-style-type: none;
}

.footer-left2 ul li a{
     text-decoration: none;
     color: black;
}

.footer-left2 ul li a:hover{
    color: gray;
}
.footer-right2 {
height: 100%;
}

#language {
    width: 10%;
    padding: 5px 5px;
    background-color: rgb(221, 220, 220);
    border: none;
}
#country {
    width: 10%;
    padding: 5px 5px;
    background-color: rgb(221, 220, 220);
    border: none;
}

.footer-end {
    /* background-color: #FBFFA7; */
    height: 80px;
}
.footer-end-left{
    /* background-color: #D5B3FF; */
    width: 70%;
    float: left;
}
.footer-end-left ul{
    list-style-type: none;
}

.footer-end-left li a{
    text-decoration: none;
    padding: 8px;
    color: black;
    float: left;
}
.footer-end-left li a:hover{
    color: grey;
}

.footer-end-right {
    float: right;
    /* background-color: #a19af2; */
    height: 100%;
}

.footer-end-right span{
    font-size: .875rem;
    margin-right: 1em;
}