*,
html{
    padding: 0;
    margin: 0;
}
.nav1 {
flex-wrap: wrap;
border-bottom: 2px solid rgb(231, 231, 231);
/* background-color: rgb(180, 127, 255); */
}

.nav1-left  {
    list-style-type: none;
    
}

.nav1-left li {
    float: left;
    display: flex;
    justify-content: left;
}

.nav1-left li a{
    display: block;
    padding: 21px;
    /* background-color: rgb(180, 127, 255); */
    text-decoration: none;
    color: black;
}

.nav1-right {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.nav1-right li {
    float: right;
}

.nav1-right li a {
    display: block;
    padding: 10px;
    /* background-color: rgb(180, 127, 255); */
    text-decoration: none;
    padding: 21px;
    color: black;
}

.nav2 {
    background-color: aqua;
    display: flex;
}
.nav2-left{
    list-style-type: none;
}
.nav2-left li {
    float: left;
    background-color: rgb(114, 114, 114);
}
.nav2-left li a{
    display: block;
    padding: 40px;
    text-decoration: none;
    color: black;
  
   
}

